body{
	/*background-color: #07626B;*/	
	background-color: #2E543F;
	color: #CCE4EA;
	padding-right: 5%;
	padding-left: 5%;
}
h1,h2,h3{
	color: #060607;
}
a:link{
	color: #ACF2BA;
}
a:visited, a:hover{
	color: #76FFD5;
}
a.inside-links{
	color: #CCE4EA;
}
a.back{
	text-align: center;
}